<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588999843986-6lagq7fnv7hpbds8f09qqh1914rn8cf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588999843986-6lagq7fnv7hpbds8f09qqh1914rn8cf9</string>
	<key>API_KEY</key>
	<string>AIzaSyD1is6xYErXQHaLDvKuqUcluI7ZoRYVQHY</string>
	<key>GCM_SENDER_ID</key>
	<string>588999843986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byundawit.riderapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-uber-clone-a15cd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-uber-clone-a15cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588999843986:ios:ac507b06991b031d84c64b</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-uber-clone-a15cd-default-rtdb.firebaseio.com</string>
</dict>
</plist>